code,
.counter {
  display: inline-flex;
  border-radius: 4px;
  font-family: var(--mono);
  color: var(--text-h);
}

code {
  padding: 4px 8px;
  font-size: 15px;
  line-height: 135%;
  background: var(--code-bg);
}