@use "../generals/vars" as *;

.footer {
  width: 100%;
  padding-top: 280px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
    to bottom,
    $blackcake 0%,
    $blackcake 25%,
    #4a4d50 27%,
    #8a878c 35%,
    #c7c0c8 50%,
    #e4dce3 65%,
    #f1eaef 80%,
    #f8f2f6 92%,
    #fdf7fa 100%
  );

  background-size: 100%;
  background-repeat: no-repeat;

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: 6rem;
    padding: 5rem;

    h2 {
      font-family: OpenSansExtraBold;
      font-size: 3.4rem;
      font-weight: 800;
      color: $primary;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.8rem;
      color: #b8860b;
      margin-bottom: 2.5rem;
    }

    .icon {
      color: $background !important;
      font-size: 2.7rem;
      transform: rotateY(180deg);
    }

    .label {
      margin: 0;
      line-height: 1;
      display: flex;
      align-items: center;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .legal {
      padding-block: 20px;
      font-family: OpenSansMedium;
      font-size: 1.7rem;
    }
  }
}
