.hero {
  padding:  0.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  &__title {
    display: inline-block;

    padding: 40px;

    font-size: 5rem;
    font-weight: 400;

    background-image: url("../../assets/Imagen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
  }

  &__subtitle {
    max-width: 800px;

    margin-top: 0.4rem;

    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.6rem 1rem;

    border-radius: 12px;

    font-weight: 600;

    transition: 0.3s ease;

    &--primary {
      color: white;
      background: var(--accent);

      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  &__install {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;

    margin-top: 2rem;

    padding: 1rem 1.5rem;

    border: 1px solid var(--border);
    border-radius: 12px;
  }

  &__copy-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;

    cursor: pointer;

    color: var(--text);

    transition: 0.2s ease;

    &:hover {
      color: var(--accent);
    }
  }
}