.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding: 3rem;

  // ========================
  // Logo
  // ========================
  &__brand {
    a {
      display: flex;
      align-items: center;
      gap: 0.9rem;
      color: rgb(162, 71, 247);
      font-weight: 700;
      text-decoration: none;
      font-size: 1.9rem;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: rgb(162, 71, 247);
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    transition: transform 0.3s ease;
    gap: 1px;
    &:hover {
      transform: rotate(-9deg) scale(1.05);
    }
  }

  &__title{
    font-size: 1.9rem;
    gap: 3rem;
  }

  // ========================
  // Navegación central
  // ========================
  &__links {
    display: flex;
    gap: 2rem;
    a {
      font-size: 1.9rem;
      position: relative;
      padding: 0.8rem;
      color: rgba(124, 8, 233, 0.829);
      text-decoration: none;
      font-weight: 500;
      border-radius: 9px;
      transition: all 0.3s ease;
      &:hover {
        background: linear-gradient(
          90deg,
          #ff0000,
          #ff8800,
          #ffff00,
          #00ff00,
          #00ffff,
          #0000ff,
          #ff00ff
        );
        background-size: 300%;
        background-clip: text;
        color: transparent;
        animation: rainbow 2s linear infinite;
      }

      // Ruta activa
      &.active {
        color: #000000;
        &::after {
          width: 100%;
          background: #ff6a00;
        }
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 0;
        height: 2px;
        background: rgb(162, 71, 247);
        transform: translateX(-50%);
        transition: width 0.3s ease;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }

  // ========================
  // Acciones derecha
  // ========================
  &__actions {
    display: flex;
    font-size: 1.6rem;
  }

  &__social {
    font-size: 2.3rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: var(--text-h);
    transition: all 0.3s ease;
    svg {
      width: 35px;
      height: 35px;
    }
    &:hover {
      color: rgb(162, 71, 247);
      background: rgba(162, 71, 247, 0.08);
      transform: translateY(-2px);
    }
  }
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 300%;
  }
}
