.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid var(--border);
  
  // ========================
  // Logo
  // ========================
  &__brand {
    a {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      color: rgb(162, 71, 247);
      font-weight: 700;
      text-decoration: none;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 10px;

    background: rgb(162, 71, 247);
    color: white;

    font-size: 1.4rem;
    font-weight: 700;

    transition: transform 0.3s ease;

    &:hover {
      transform: rotate(-9deg) scale(1.05);
    }
  }

  // ========================
  // Navegación central
  // ========================
  &__links {
    display: flex;
    gap: 2.5rem;

    a {
      position: relative;

      padding: 0.5rem 0.75rem;

      color: rgba(124, 8, 233, 0.829);
      text-decoration: none;
      font-weight: 500;

      border-radius: 8px;

      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(
          90deg,
          #ff0000,
          #ff8800,
          #ffff00,
          #00ff00,
          #00ffff,
          #0000ff,
          #ff00ff
        );

        background-size: 300%;

        -webkit-background-clip: text;
        background-clip: text;

        color: transparent;

        animation: rainbow 2s linear infinite;
      }

      // Ruta activa
      &.active {
        color: #000000;

        &::after {
          width: 100%;
          background: #ff6a00;
        }
      }

      &::after {
        content: "";

        position: absolute;
        left: 50%;
        bottom: -6px;

        width: 0;
        height: 2px;

        background: rgb(162, 71, 247);

        transform: translateX(-50%);
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 80%;
      }
    }
  }

  // ========================
  // Acciones derecha
  // ========================
  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__social {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    font-size: 28px;

    color: var(--text-h);

    transition: all 0.3s ease;

    &:hover {
      color: rgb(162, 71, 247);
      background: rgba(162, 71, 247, 0.08);

      transform: translateY(-2px);
    }
  }
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 300%;
  }
}
