.navbar {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;

  border-bottom: 1px solid var(--border);
}

.navbar__brand a {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-weight: 700;
}

.navbar__links {
  display: flex;
  gap: 2rem;

  list-style: none;
}

.navbar__actions {
  display: flex;
  gap: 1rem;
}

.navbar__actions {
  display: flex;
  gap: 1rem;
}

.navbar__github,
.navbar__npm {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;

  font-size: 35px;

  color: var(--text-h);

  transition: .3s ease;

  &:hover {
    color: var(--accent);
    background: var(--accent-bg);
  }
}