@use "../../generals/root" as *;
@use "../../generals/vars" as *;

.navbar {
  width: 100%;
  height: 45px;
  max-height: 45px;
  display: grid;
  grid-template-columns: auto 1fr auto; // izq y der según su contenido, centro absorbe el resto
  align-items: center;
  border-bottom: 1px solid ($border);
  padding: 5px 20px;

  // ========================
  // Glass Morphism
  // ========================
  position: sticky;
  top: 0;
  z-index: 100;
  color: var(--text-color);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);

  // ========================
  // Logo
  // ========================
  &__brand {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    color: $primary;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    // justify-self: start;

    .logo {
      transition: transform 0.3s ease;
      height: 100%;
      width: auto;
      position: relative;

      &:hover {
        transform: rotate(-9deg) scale(1.05);
      }
    }

    .title {
      font-size: 1.8rem;
      gap: 3rem;
      font-family: OpenSansExtraBold;
    }
  }

  // ========================
  // Navegación central
  // ========================
  &__links {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    a {
      font-size: 1.5rem;
      font-family: OpenSansSemiBold;
      position: relative;
      padding: 0.8rem;
      color: $primary;
      text-decoration: none;
      font-weight: 500;
      border-radius: 9px;
      transition: all 0.3s ease;
      &:hover {
        background: linear-gradient(
          90deg,
          #ff0000,
          #ff8800,
          #ffff00,
          #00ff00,
          #00ffff,
          #0000ff,
          #ff00ff
        );
        background-size: 300%;
        background-clip: text;
        color: transparent;
        animation: rainbow 2s linear infinite;
      }

      // Ruta activa
      &.active {
        color: $activeroute;
        font-weight: 700;
        background: rgba($primary, 0.08);

        &::after {
          width: 100%;
          background: $bottomline;
        }

        &:hover {
          background: rgba($primary, 0.12);
          color: $activeroute;
          animation: none;
        }
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        width: 0;
        height: 4px;
        background: $primary;
        transform: translateX(-50%);
        transition: width 0.3s ease;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }

  // ========================
  // Acciones derecha
  // ========================
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 0.8rem;
    height: 100%;

    .social {
      width: 28px; // tamaño fijo del contenedor circular
      height: 28px;
      aspect-ratio: 1/1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 80%;
      transition: all 0.3s ease;

      .icon {
        height: 20px; // tamaño fijo del ícono, ya no depende del navbar
        width: 20px;
      }

      .npm {
        height: 22px;
        width: 22px;
      }

      &:hover {
        color: $primary;
        transform: translateY(-2px);
      }
    }
  }
}

/* =========================
   Botón cambio de tema
========================= */

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.theme__icon {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  transition:
    transform 0.3s ease,
    color 0.3s ease;

  .theme-icon {
    width: 22px;
    height: 22px;
    transition: transform 0.3s ease;
  }

  // Luna
  .moon-icon {
    color: #4c6fff;
  }

  // Sol
  .sun-icon {
    color: #ffcc00;
  }

  &:hover {
    transform: translateY(-2px);

    .theme-icon {
      transform: rotate(15deg) scale(1.1);
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 300%;
  }
}

@media (max-width: 576px) {
  .navbar {
    .title {
      font-size: 2rem;
    }
    a {
      font-size: 2.1rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .title {
      font-size: 1.8rem;
    }
    a {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 360px) {
  .navbar {
    padding: 15px;

    .logo{
      height: 50%;
    }

    .title {
      font-size: 1.8rem;
    }

    a {
      font-size: 2rem;
    }

    &__actions {
      height: 55%;
    }

    .social {
      width: 12px;
      height: 12px;

      .icon {
        width: 8px;
        height: 8px;
      }
      .npm {
        width: 8px;
        height: 8px;
      }
    }

    .theme__icon {
      width: 12px;
      height: 12px;

      .theme-icon {
        width: 9px;
        height: 9px;
      }
    }
  }
}
