@font-face {
  font-family: "OpenSansBold";
  src: url("/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("/Open_Sans/static/OpenSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../../public/Open_Sans/static/OpenSans-ExtraBold.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("/Open_Sans/static/OpenSans-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("/Open_Sans/static/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLightItalic";
  src: url("/Open_Sans/static/OpenSans-LightItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "OpenSansMedium";
  src: url("/Open_Sans/static/OpenSans-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "OpenSansMediumItalic";
  src: url("/Open_Sans/static/OpenSans-MediumItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("/Open_Sans/static/OpenSans-SemiBold.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("/Open_Sans/static/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
}