@use "../../generals/vars" as *;
@use "../../generals/mixins" as *;

.inputText-docs {
  @include body-docs;

  .inputTextDemo {
    border: 1.5px solid #2aa198 !important;
  }

  .inputTextFieldDemo {
    color: #2aa198 !important;
  }

  .inputTextIconDemo {
    color: $textPrimary !important;
  }
}
