@use "./vars" as *;

:root {
  --sans: "OpenSansLight";
  --heading: "OpenSansExtraBold";
  --mono: ui-monospace, Consolas, monospace;

  --text: #{$text-secondary};
  --text-h: #{$text-primary};

  --bg: #{$background};
  --border: #{$border};

  --accent: #{$primary};
  --accent-hover: #{$primary-hover};

  --code-bg: #f8f9fb70;

  --accent-bg: rgba(124, 58, 237, 0.1);
  --accent-border: rgba(124, 58, 237, 0.3);

  --social-bg: rgba(248, 251, 248, 0.8);

  --shadow:
    rgba(0, 0, 0, 0.08) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.04) 0 4px 6px -2px;

  color: var(--text);
  background: var(--bg);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: $laptop) {
  :root {
    font-size: 16px;
  }
}