@use "./vars" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var($font-family);
}

h1 {
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: -1.68px;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
}

p {
  line-height: 1.7;
}