// ==========================================
// COLORS
// ==========================================

// COLORES PRINCIPALES:
$primary1: #9a4c95;
//$background: #fdf7fa;
//$blackcake: #212528;
$textPrimary: #ff5a5f;
$textSecundary: #18a999;

$primary: #a86ca4;
$background: #fdf7fa;
$border: #d1d1d1;
$bottomline: #ff6a00;
$activeroute: #7a3a76;

// ==========================================
// CARD COMPONENTS
// ==========================================
$border2: #e8e8f0;
$bordercolor: #9a4c95;

// ==========================================
// CARD CONTAINER
// ==========================================
$blackcake: #212528;

// ========================
// Glass Morphism
// ====================
$glass: rgba(253, 253, 253, 0.897);

// ==========================================
// text
// ==========================================
$text: #ff8c90;
$prueba: #ff7377;
$text2: #66cfc5;
$font-family: OpenSansRegular, Helvetica, Verdana, sans-serif;
$prueba2: #3d4348;
