.docs-layout {
  display: flex;
  height: calc(100vh - 45px);
  //Menu de la derecha 
  background-color: var(--bg-color);

  .docs-content {
    flex: 1;
    min-width: 0;
    padding: 2.5rem 3rem;
    overflow-y: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}
