.docs-layout {
  display: flex;
  height: 100vh;

  //esto maneja la de como iria acomodado la informacion pára los archivos
  .docs-content {
    flex: 1;
    min-width: 0;
    padding: 3.2rem 4rem;
    overflow-y: auto;
  }
}
